<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- Define your beans here -->

    <bean id="myFortuneService"
    	class="com.siddhant.demo.MyFortuneService">
    </bean>
     <bean id="myBaseBallCoach" 
    	class = "com.siddhant.demo.BaseBallCoach">
    	<constructor-arg ref = "myFortuneService"></constructor-arg>
    </bean>
    <bean id="myCricketFortune"
    	class = "com.siddhant.demo.MyCricketFortuneService">
    </bean>
    <bean id="myCriketCoach" 
    	class = "com.siddhant.demo.Cricket">
    	<property name="fortuneService" ref="myCricketFortune"></property>
    	<property name="emailAddress" value="dummy@gmail.com"></property>
    </bean>
</beans>





